*{
  margin:0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body{
  display: grid;
  grid-template-areas: "left top"
                       "left content";
  grid-template-rows: 17% 83% ;
  grid-template-columns: 24% 76%; 
}

#top {
  text-align: center;
  margin: 0 auto;
  background-color: #4D5E89;
  width: 100%;
  grid-area: top;
}

#top h1 {
  
}

#content {
  padding: 0;
  font-size: 2em;
  text-align: center;
  
  background-color: #4D5E89;
  grid-area: content;
}

#logoAsset{
  margin-top: 10px;
  margin-left:10px;
  width: 30%; /**/
  height: 70%;/*width to height is 1:1.67*/
}

#topLeft{
  width: 23vw;
  height: 17vh;
  min-width: 222px;
  min-height: 94px;
  max-height: 188px;
  margin-top: 1vh;
  
}

#sideBar{
  
  
  min-width: 232px;
  height: 100vh;
  background-color: #487572;
  display: flex;
  justify-content: center;
  grid-area: left;
}

.gameName{
  margin: 10px 0 0 10px;
  padding: 10px;
  background-color: #C1D3F7;
  border-radius: 25px;
  font-size: larger;
  width: max-content;
}

.gameData{
  margin-left: 30px;
  margin-top: 5px;
  background-color: #C1D3F7;
  border-radius: 25px;
}


